.action__pip {
    max-height: 2rem;
}

.special-ability{
    &__button{
        transition: 1s;
        transform: translateX(0);
        filter: opacity(1);
        &--selected{
            z-index: 10;
            transform: translateX(-200%);
            filter: opacity(0);
        }
    }
}

.starter-form{
    transition: 1s;
    transform: translateX(0);
    &--hidden{
        transform: translateX(100%)
    }
}

.builds{
    &__button{
        transition: 1s;
        transform: translateX(0);
        filter: opacity(1);
        &--selected{
            z-index: 10;
            transform: translateX(-600%);
            filter: opacity(0);
        }
    }
}
