@use "../../styles/styles" as *;

.starter-form {
    transition: 1s;
    transform: translateX(0);
    padding: 2rem;
    &--hidden {
        transform: translateX(100%);
    }
}

.intro {
    margin-top: 2rem;
    color: $WHITE;
    padding-left: 1rem;
    padding-right: 1rem;

    &__text {
        margin-bottom: 1rem;
    }

    &__reset {
        cursor: pointer;
        width: 100%;
        @include headline-box;
    }

    &__playbook {
        background-image: url("../../assets/images/space01.jpg");
        text-transform: capitalize;
        width: 100%;
        @include negative-text;
        margin: 0;
    }

    &__tagline {
        font-family: "turret road";
        font-size: 1.6rem;
    }
}

.starting-ability {
    padding-left: 1rem;
    padding-right: 1rem;
    &__block {
        width: 100%;
        background-color: $CYAN;
        @include boxglow;
        @include headline-box;
        background: linear-gradient(115.3deg, #78cce2 0%, #4e7388 100%);
    }

    &__headline {
        @include negative-text;
    }

    &__subheader {
        @include blockform-subheader;
    }

    &__description {
        color: $WHITE;
    }
}

.actions {
    display: flex;
    @include tablet-plus {
        flex-direction: column;
        margin-right: 1rem;
    }

    &__subheader {
        @include blockform-subheader;
    }
}

.action {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    width: 50%;

    @include tablet-plus {
        justify-content: left;
    }

    &:first-of-type {
        @include mobile {
            border-right: $CYAN solid 0.2rem;
        }
    }

    &__pip {
        max-height: 2rem;
        min-height: 2rem;
        fill: $CYAN;
    }

    &__name {
        margin-left: 1rem;
        padding-right: 1rem;
        font-family: "turret road";
        color: $CYAN;
        width: 100%;
        text-align: center;
        @include tablet-plus {
            text-align: left;
            padding-left: 1rem;
            padding-top: 0.7rem;
        }
    }
}

.special-abilities {
    display: flex;
    flex-direction: column;
    @include tablet-plus {
        margin-top: -10rem;
    }
    &__block {
        margin-top: 1rem;
        @include better-box;
        padding-left: 1rem;
        display: flex;
        @include tablet-plus {
            justify-content: right;
            padding-right: 3rem;
            align-self: flex-end;
            max-width: 50%;
            min-width: 50%;
            margin-bottom: 2rem;
        }
    }

    &__headline {
        @include negative-text;
    }

    &__guidelines {
        @include tablet-plus {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
    }

    &__subheader {
        @include blockform-subheader;
        @include tablet-plus {
            text-align: right;
            margin-right: 3rem;
        }
    }

    &__builds {
        margin-left: 1rem;
        margin-right: 1rem;
        color: $WHITE;
        @include tablet-plus {
            text-align: right;
            width: 50%;
            margin-right: 2rem;
        }
    }
}

.ability-list {
    list-style-type: none;
    appearance: none;
    padding-inline: 0;
    @include tablet-plus {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

@keyframes ability-select {
    0% {
        transform: translate(0);
        filter: opacity(100%);
    }
    100% {
        transform: translateX(-200%);
        filter: opacity(0);
    }
}

@keyframes build-select {
    0% {
        transform: translate(0);
        filter: opacity(100%);
    }
    100% {
        transform: translateX(-600%);
        filter: opacity(0);
    }
}

.special-ability {
    &__name {
        margin: 0;
        font-family: "orbitron";
        text-transform: capitalize;
    }

    &__clarification {
        color: $WHITE;
    }

    &__text {
        margin-bottom: 0;
    }

    &__button {
        appearance: none;
        background: linear-gradient(115.3deg, #78cce2 0%, #4e7388 100%);
        @include mobile {
            border: $CYAN solid 0.2rem;
        }
        @include boxglow;
        text-align: left;
        padding-left: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: left;
        max-height: auto;
        width: 100%;
        padding: 1rem;
        margin-bottom: 3rem;
        cursor: pointer;
        transition: 1s;
        transform: translateX(0);
        filter: opacity(1);
        @include tablet-plus {
            max-width: calc(50% - 0.5rem);
        }

        &:nth-of-type(2n) {
            @include mobile {
                background: none;
                outline: none;
                box-shadow: none;
                color: $CYAN;
            }
        }

        &:nth-of-type(2n):hover {
            @include mobile {
                transform: scale(110%);
                outline: $CYAN solid 0.2rem;
                @include pathglow;
            }
        }

        &:nth-of-type(4n - 2) {
            @include tablet-plus {
                background: none;
                outline: none;
                box-shadow: none;
                color: $CYAN;
            }
        }

        &:nth-of-type(4n - 2):hover {
            @include tablet-plus {
                transform: scale(110%);
                outline: $CYAN solid 0.2rem;
                @include pathglow;
            }
        }

        &:nth-of-type(4n - 1) {
            @include tablet-plus {
                background: none;
                outline: none;
                box-shadow: none;
                color: $CYAN;
            }
        }

        &:nth-of-type(4n - 1):hover {
            @include tablet-plus {
                transform: scale(110%);
                outline: $CYAN solid 0.2rem;
                @include pathglow;
            }
        }

        &--selected {
            z-index: 10;
            animation: ability-select 1s;
        }

        &:hover {
            transform: scale(110%);
        }
    }
    &--selected {
        z-index: 10;
        transform: scale(110%) translateX(-300%);
        filter: opacity(0);
    }
    &__button {
    }
}

.builds {
    appearance: none;
    padding-inline: 0;
    margin-inline: 0;
    width: 100%;
    justify-content: space-between;
    @include abilityandbuild;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    @include tablet-plus {
        flex-wrap: nowrap;
    }
    &__button {
        width: calc(50% - 1.5rem);
        display: flex;
        transition: 1s;
        transform: translateX(0);
        filter: opacity(1);

        @include tablet-plus {
            width: 20%;
        }

        &--selected {
            z-index: 10;
            animation: build-select 1s;
        }

        &:first-of-type {
            @include mobile {
                background: none;
                border: none;
                box-shadow: none;
                color: $CYAN;
                margin-right: 3rem;
            }
        }

        &:first-of-type:hover {
            @include mobile {
                transform: scale(110%);
                border: $CYAN solid 0.2rem;
                @include pathglow;
            }
        }

        &:last-of-type {
            @include mobile {
                background: none;
                border: none;
                box-shadow: none;
                color: $CYAN;
            }
        }

        &:last-of-type:hover {
            @include mobile {
                transform: scale(110%);
                border: $CYAN solid 0.2rem;
                @include pathglow;
            }
        }
    }

    &__description {
        text-transform: capitalize;
    }
}
