@use "../../../../styles/styles" as *;

.people {
    &__details {
        display: flex;
        align-items: center;
        justify-content: center;
        &--rival {
            flex-direction: row-reverse;
        }

        @include tablet-plus {
            max-width: 50%;
        }
    }

    &__label {
        color: $WHITE;
        font-family: "turret road";
    }

    &__field {
        width: 100%;

        &--error {
            border-color: $ERROR;
            @include boxglow-error;
        }
    }

    &__form {
        margin-right: 1rem;
        &--rival {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            width: 100%;
        }
    }

    &__submit {
        font-family: "orbitron";
        color: $WHITE;
        @include better-box;
        @include boxglow;
        padding: 0.5rem;
    }
}

.details {
    &__portrait {
        width: 10rem;
        border-radius: 4rem;
        @include box-border;
        @include boxglow;
        filter: opacity(80%);
        animation: portraits-pulse 2s infinite;
        margin-top: 2rem;
        margin-left: 1rem;
        margin-right: 1rem;
        @include tablet-plus {
            margin-right: 3rem;

            &--rival {
                margin-left: 3rem;
            }
        }
    }

    &__elaboration {
        text-align: left;

        &--rival {
            text-align: right;
        }
    }

    &__name {
        margin: 0;
        width: 100%;

        &--rival {
            text-align: right;
        }
    }

    &__container {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    &__job {
        margin: 0;
        width: 100%;
        &--rival {
            text-align: right;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @include tablet-plus {
            align-items: flex-start;

            &--rival {
                align-items: flex-end;
            }
        }
    }

    &__job {
        font-family: "orbitron";
    }

    @include personcard;
}
