@use "../../../styles/styles" as *;

.intro__ability {
    color: $CYAN;
    font-family: "orbitron";
    text-transform: capitalize;
    cursor: pointer;
    &--text {
        margin-left: 1rem;
        @include textglow;
    }
}

.id-card {
    background-color: rgba($DARK, 0.2);
    @include box-border;
    @include boxglow;
    margin: 0 1rem;
    padding: 2rem;
    display: flex;
    position: relative;

    &__container {
        @include tablet-plus {
            width: 100%;
            display: flex;
            justify-content: right;
            padding-right: 1rem;
        }
    }

    @include tablet-plus {
        width: calc(50% - 2rem);
    }

    &__edit {
        color: $WHITE;
        font-family: "turret road";
        &--hidden {
            display: none;
        }
    }

    &__basic-info {
        width: 40%;
    }

    &__pfp {
        fill: $CYAN;
        @include pathglow-xl;
        height: 10rem;
        width: 10rem;
        margin-bottom: 1rem;
    }

    &__text {
        margin-block-end: 0;
        color: $WHITE;
        margin: 0;
    }

    &__playbook {
        text-transform: capitalize;
        font-weight: 800;
        font-size: 1.8rem;
    }

    &__action-values {
        margin-top: 1rem;
    }

    &__title {
        position: absolute;
        top: 0;
        padding-left: 1rem;
    }

    &__main {
        display: flex;
        margin-top: 3rem;
        width: 60%;
    }

    &__history {
        margin-right: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50%;
    }

    &__current {
        height: 75%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__action {
        text-transform: capitalize;
    }
}
