@use "./mixins" as *;
@use "./variables" as *;

h1,
h2 {
    @include headline;
    @include textglow;
    color: $CYAN;
}

p {
    font-family: "Turret Road";
    font-size: 1.4rem;
}

.bold {
    font-weight: bold;
}

input,
textarea {
    appearance: none;
    background: rgba($DARK, 0.4);
    border: solid 0.2rem $CYAN;
    @include pathglow;
    @include anim-path-pulse;
    resize: none;
    color: $CYAN;
    font-family: "turret road";
    min-height: 3rem;
    outline: none;

    &::placeholder {
        color: $GRAYBLUE;
    }
}

h3 {
    color: $WHITE;
    font-family: "orbitron";
}

button {
    cursor: pointer;
}
