@use "./mixins" as *;
@use "./variables" as *;

h1,
h2 {
    @include headline;
    @include textglow;
    color: $CYAN;
}

p {
    font-family: "Turret Road";
    font-size: 1.4rem;
}

.bold {
    font-weight: bold;
}
