@use "./variables" as *;

@mixin boxglow {
    box-shadow: 0 0 0.5rem #78cce2, inset 0 0 0.3rem #78cce2;
}

@mixin boxglow-error {
    box-shadow: 0 0 0.5rem $ERROR, inset 0 0 0.3rem $ERROR;
}

@mixin pathglow {
    filter: drop-shadow(0 0 0.1rem #78cce2);
}

@mixin pathglow-xl {
    filter: drop-shadow(0 0 0.3rem #78cce2);
}

@mixin textglow {
    text-shadow: 0 0 0.4rem #78cce2;
}

@mixin box-border {
    border: 2px solid $CYAN;
}

@mixin headline {
    font-family: "Orbitron";
    font-style: normal;
    font-weight: 900;
    font-size: 2rem;
}

@mixin anim-box-pulse {
    animation: box-pulse 3s infinite linear;
}

@mixin headline-box {
    background: linear-gradient(115.3deg, #78cce2 0%, #4e7388 100%);
    border: $CYAN solid 0.2rem;
    @include boxglow;
    text-align: left;
    padding-left: 1rem;
    max-height: 5rem;
    min-height: 5rem;
    display: flex;
    align-items: center;
    justify-content: left;
}

@mixin personcard {
    &__portrait {
        width: 10rem;
        border-radius: 4rem;
        @include box-border;
        @include boxglow;
        filter: opacity(80%);
        animation: portraits-pulse 2s infinite;
        margin-top: 2rem;
    }

    &__name {
        font-family: "orbitron";
        color: $CYAN;
        font-size: 2rem;
    }

    &__job {
        color: $CYAN;
        font-weight: bold;
    }

    &__elaboration {
        color: $WHITE;
    }
}

@mixin better-box {
    background: linear-gradient(115.3deg, #78cce2 0%, #4e7388 100%);
    border: $CYAN solid 0.2rem;
    @include boxglow;
}

@mixin abilityandbuild {
    &__name {
        margin: 0;
        font-family: "orbitron";
        text-transform: capitalize;
    }

    &__clarification {
        color: $WHITE;
    }

    &__text {
        margin-bottom: 0;
    }

    &__button {
        appearance: none;
        background: linear-gradient(115.3deg, #78cce2 0%, #4e7388 100%);
        border: $CYAN solid 0.2rem;
        @include boxglow;
        text-align: left;
        padding-left: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: left;
        max-height: auto;
        width: 100%;
        padding: 1rem;
        margin-bottom: 3rem;
        cursor: pointer;
        transition: 1s;
        transform: translateX(0);
        filter: opacity(1);

        &:hover {
            transform: scale(110%);
        }
    }
}

@mixin error-state {
    border-color: #cc0000;
    @include boxglow-error;
}

@mixin blockform-subheader {
    color: $WHITE;
    font-family: "Orbitron";
    font-size: 1.6rem;
}

@mixin keys-box-pulse {
    @keyframes box-pulse {
        0% {
            box-shadow: 0 0 0.5rem #78cce2, inset 0 0 0.15rem #78cce2;
        }
        10% {
            box-shadow: 0 0 0.6rem #78cce2, inset 0 0 0.3rem #78cce2;
        }
        20% {
            box-shadow: 0 0 0.75rem #78cce2, inset 0 0 0.5rem #78cce2;
        }
        30% {
            box-shadow: 0 0 0.6rem #78cce2, inset 0 0 0.3rem #78cce2;
        }
        40% {
            box-shadow: 0 0 0.5rem #78cce2, inset 0 0 0.15rem #78cce2;
        }
        50% {
            box-shadow: 0 0 0.4rem #78cce2, inset 0 0 0.3rem #78cce2;
        }
        60% {
            box-shadow: 0 0 0.3rem #78cce2, inset 0 0 0.5rem #78cce2;
        }
        70% {
            box-shadow: 0 0 0.25rem #78cce2, inset 0 0 0.3rem #78cce2;
        }
        80% {
            box-shadow: 0 0 0.3rem #78cce2, inset 0 0 0.5rem #78cce2;
        }
        90% {
            box-shadow: 0 0 0.4rem #78cce2, inset 0 0 0.3rem #78cce2;
        }
        100% {
            box-shadow: 0 0 0.5rem #78cce2, inset 0 0 0.3rem #78cce2;
        }
    }
}

@mixin anim-path-pulse {
    animation: path-pulse 3s infinite linear;
}

@mixin keys-path-pulse-fine {
    @keyframes path-pulse {
        0% {
            filter: drop-shadow(0 0 0.075rem #78cce2);
        }
        25% {
            filter: drop-shadow(0 0 0.1rem #78cce2);
        }
        50% {
            filter: drop-shadow(0 0 0.15rem #78cce2);
        }
        100% {
            filter: drop-shadow(0 0 0.1rem #78cce2);
        }
    }
}

@mixin keys-path-pulse-broad {
    @keyframes path-pulse {
        0% {
            filter: drop-shadow(0 0 0.1rem #78cce2);
        }
        25% {
            filter: drop-shadow(0 0 0.2rem #78cce2);
        }
        50% {
            filter: drop-shadow(0 0 0.3rem #78cce2);
        }
        100% {
            filter: drop-shadow(0 0 0.2rem #78cce2);
        }
    }
}

@mixin negative-text {
    background-image: url("../../assets/images/space01.jpg");
    background-size: 75%;
    text-shadow: none;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

@mixin negative-text-users {
    background-image: url("../../assets/images/space02.jpg"),
        linear-gradient(115.3deg, #78cce2 0%, #4e7388 100%);
    background-size: 25%;
    text-shadow: none;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

@mixin mobile {
    @media screen and (max-width: 767px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: 768px) and (max-width: 1279px) {
        @content;
    }
}

@mixin tablet-plus {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: 1280px) {
        @content;
    }
} ;
