@use "../../../styles/styles" as *;

.actions-form {
    @include box-border;
    @include boxglow;
    margin: 1rem;
    padding: 1rem;

    &__text {
        color: $WHITE;
    }

    &__subheader {
        color: $WHITE;
        font-family: "orbitron";
    }

    &__list {
        @include tablet-plus {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }

    &__action {
        @include box-border;
        @include boxglow;
        padding: 1rem;
        margin: 1rem;
        @include tablet-plus {
            max-width: calc(33.33% - 3rem);
        }
    }

    &__hud {
        @include tablet-plus {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 2rem;
        }
    }

    &__submit {
        @include better-box;
        padding: 1rem;
        font-family: "Orbitron";
    }
}

.pip {
    fill: $CYAN;
    @include pathglow;
    margin-right: 0.5rem;

    &__button {
        cursor: pointer;
    }

    &--playbook {
        fill: $GRAYBLUE;
    }
}

.action {
    &__name {
        color: $WHITE;
        text-transform: capitalize;
        margin: 0;
        margin-bottom: 0.5rem;
        font-size: 1.4rem;
    }
    &__description {
        margin-top: 0;
        margin-bottom: 0;
        color: $CYAN;
        font-family: "orbitron";
        font-size: 1rem;
    }
    &__clarification {
        color: $WHITE;
        font-size: 1rem;
    }

    &__text {
        padding: 1rem;
    }

    &__points {
        display: flex;
        justify-content: center;
    }
}
