@use "../../../styles/styles" as *;

.drawer {
    &__contents {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__login {
        font-size: 1.8rem;
        font-family: "Orbitron";
        font-weight: 900;
        color: $BLACK;
    }
}
