.people__container {
    &--hidden {
        display: none;
    }
}

.actions__container {
    &--hidden {
        display: none;
    }
}

.name-form__container {
    &--hidden {
        display: none;
    }
}

.history-form__container {
    &--hidden {
        display: none;
    }
}
