@use "../../styles/styles" as *;

.slides {
    position: fixed;
    padding-top: 1rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    overflow: hidden;
    top: 10rem;
    bottom: 0;
    animation: 4s beam-entry ease-out;

    &__button{
        max-height: 15rem;
        min-height: 15rem;
        align-self: center; 
        padding-right: 3rem;
        padding-left: 3rem;
        cursor: pointer;
    }
}

.playbook-overview {
    position: absolute;
    transform-origin: 50% 140%;
    width: 19rem;
    user-select: none;

    &--focus {
        left: 50%;
        transform: translate(-50%) rotate3d(3, 3, 3, 0deg) scale(1);
        filter: opacity(1);
        transition: 1s;
        filter: opacity(80%);
    }
    &--next {
        left: 50%;
        transform: translateX(-50%) rotate3d(3, 3, 3, 90deg) scale(0.0001);
        filter: opacity(0) blur(2rem);
        transition: 1s;
    }
    &--passed {
        left: 50%;
        transform: translateX(-50%) rotate3d(3, 3, 3, -90deg) scale(0.0001);
        filter: opacity(0) blur(2rem);
        transition: 1s;
    }
    &--hidden {
        display: none;
    }

    &__action {
        transform-origin: 50% 0;
        filter: blur(0);

        &--selected {
            transform: perspective(20rem) rotate3d(3, 0, 0, 90deg) translateY(-100%);
            margin-bottom: -200%;
            transition: 0.2s linear;
            filter: blur(2rem);
        }
    }

    &__selector{
        cursor: pointer;
    }

    &__playbook{
        text-transform: capitalize;
    }

    &__image {
        height: 28rem;
        width: auto;
        object-fit: contain;
        border-radius: 4rem;
        border: .2rem solid $CYAN;
        width: auto;
        @include boxglow;
        @include anim-box-pulse;
        // animation: image-pulse 3s infinite linear;
    }

    &__tagline {
        font-family: "Orbitron";
    }

    &__text {
        width: 20rem;
        transform: translateY(0);
        transition: 1s;
        color: $CYAN;
        pointer-events: none;

        &--selected {
            transform: translateY(-100%);
            transition: 0.2s;
        }
    }
}

@keyframes beam-entry {
    0% {
        clip-path: polygon(50% 100%, 50% 100%, 50% 0%, 50% 0%);
    }
    97% {
        clip-path: polygon(50% 100%, 50% 100%, 50% 0%, 50% 0%);
    }
    99% {
        clip-path: polygon(50% 100%, 50% 100%, 0% 0%, 100% 0%);
    }
    100% {
        clip-path: polygon(0% 100%, 100% 100%, 0% 0%, 100% 0%);
    }
}

@include keys-box-pulse;

@keyframes light-pulse {
    0% {
        filter: blur(1rem);
    }
    25% {
        filter: blur(2rem);
    }
    50% {
        filter: blur(1rem);
    }
    100% {
        filter: blur(.5rem);
    }
}

@keyframes image-pulse {
    0% {
        box-shadow: 0 0 .25rem #78cce2, inset 0 0 .15rem #78cce2;
    }
    25% {
        box-shadow: 0 0 .5rem #78cce2, inset 0 0 .3rem #78cce2;
    }
    50% {
        box-shadow: 0 0 .75rem #78cce2, inset 0 0 .5rem #78cce2;
    }
    100% {
        box-shadow: 0 0 .5rem #78cce2, inset 0 0 .3rem #78cce2;
    }
}