@use "../../../styles/styles" as *;

.accept-id {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    @include tablet-plus {
        width: calc(50% - 2rem);
        margin-top: -20rem;
    }

    &__title {
        text-align: center;
    }

    &__button {
        filter: drop-shadow(0 0 0.3rem #78cce2);
        cursor: pointer;
    }

    &__check {
        fill: #78cce2;
        filter: drop-shadow(0 0 0.3rem #78cce2);
    }
}
