@use "../../styles/styles" as *;

.users {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;

    &__characters{
        display: flex;
        flex-wrap: wrap;
    }

    &__container {
        background-image: radial-gradient(closest-side, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)),
            url("../../assets/images/space02.jpg");
        background-position: center;
        background-size: contain;
        height: 100vh;
    }

    &__space-text {
        position: absolute;
        font-weight: 900;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(115.3deg, #78cce2 0%, #4e7388 100%);
        @include negative-text-users;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        &--background {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            @include better-box;
        }
    }

    &__clickables {
        display: flex;
    }

    &__button {
        position: relative;
        @include better-box;
        margin: 1rem;
        width: 10rem;
        height: 10rem;
        @include anim-box-pulse;

        &--spacer {
        }

        &:hover {
            transform: scale(110%);
        }
    }
}

.new {
    &__link {
        line-height: 0;
        position: absolute;

        &__fix {
            position: relative;
        }
    }
}

.character-item {
    font-family: "orbitron";
    display: flex;
    flex-direction: column;
    margin: 1rem;

    &__edit {
        @include better-box;
        margin-bottom: 1rem;
        transform: scale(100%);
        transition: 0.2s;

        &:hover {
            transform: scale(110%);
            transition: 0.2s;
        }
    }

    &__name {
        font-size: 2.2rem;
        margin: 0.5rem;
    }

    &__alias {
        color: $WHITE;
        font-family: "turret road";
        font-size: 2rem;
        margin: 0.5rem;
    }

    &__playbook {
        color: $WHITE;
        font-family: "turret road";
        text-transform: capitalize;
        font-size: 2rem;
        margin: 0.5rem;
    }

    &__delete {
        color: $CYAN;
        font-family: "orbitron";
        font-weight: 900;
        font-size: 2rem;
        margin-bottom: 1rem;
        transform: scale(100%);
        transition: 0.2s;

        &:hover {
            transform: scale(110%);
            transition: 0.2s;
        }
    }
}
